body { 
    position: relative; 
}


html {
  scroll-behavior: smooth;
}


.jäljet {
    width: 100%;
    max-width: 400px;
    border-radius: 30% 0 30% 0;
}


@media (max-width: 768px) {
  .jäljet {
    max-width: 150px;
    display: block;
    margin: 10px auto;
  }
}


